.main-container{
	width: 70%;
	margin-left: 15%;
	margin-top: 20px;
	margin-bottom: 80px;
	margin-right: 15%;
}
.input-img{
	margin-left: 10px;
}
.img-deal{
	overflow: hidden;
}
.img-select{
	float: left;
}
.upload-img{
	border: 1px solid rgba(193, 193, 193, .5);
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
}
.right-main{
	float: left;
	margin-top: 46px;
	margin-left: 15px;
	width: 600px;
}
.img{
	max-height: 290px;
	max-width: 290px;
	margin: 5px;
	float: left;
}
.btn-box{
	width: 300px;
	margin: 15px 18%;
}
.btn{
	width: 100%;
}
.form-group{
	overflow: hidden;
}
.form-group  label{
	float: left;
	width: 15%;
	text-align: right;
}
.form-group input.large{
	float: left;
	margin-left: 20px;
	width: 80%;
}
.form-group input.small{
	float: left;
	margin-left: 20px;
	width: 30%;
}
.form-group textarea{
	float: left;
	margin-left: 20px;
	width: 80%; 
	overflow-y: auto;
	resize: none;
}