.main-container{
	width: 70%;
	margin-left: 15%;
	margin-top: 50px;
	margin-bottom: 80px;
	margin-right: 15%;
	overflow: hidden;
}
.get-message{
	width: 450px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
.get-img{
	max-height: 200px;
	max-width: 140px;
	margin: 5px;
	float: left;
}
.img-message{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 13px;
	max-width: 260px;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(193, 193, 193, .3);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.panel-body {
    padding: 15px;
}
.overfloat-ban{
	overflow: hidden;
}