.main-container{
	width: 70%;
	margin-left: 15%;
	margin-top: 20px;
	margin-bottom: 80px;
	margin-right: 15%;
}
.input-img{
	margin-left: 10px;
}
.img-deal{
	overflow: hidden;
}
.img-select{
	float: left;
}
.upload-img{
	border: 1px solid rgba(193, 193, 193, .5);
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 4px;
}
.result{
	float: left;
	margin-top: 46px;
}
.get-message{
	width: 600px;
	margin-left: 10px;
	margin-right: 10px;
}
.img{
	max-height: 290px;
	max-width: 290px;
	margin: 5px;
	float: left;
}
.get-img{
	max-height: 200px;
	max-width: 150px;
	margin: 5px;
	float: left;
}
.img-message{
	float: left;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 13px;
	max-width: 400px;
}
.btn-box{
	width: 300px;
	margin: 15px 10px;
}
.btn{
	width: 100%;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(193, 193, 193, .3);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.panel-body {
    padding: 15px;
}
.overfloat-ban{
	overflow: hidden;
}